{% extends 'baseRH.html.twig' %}
{% block title %}Modifier equipê{% endblock %}

{% block content %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Modifier Equipe</h3>
    </div>

    <div>
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
</div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="m-t-40" novalidate method="post">
                        <div class="form-group">
                            <h5>Nom d'equipe <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" name="nomeq" value={{ emp.NomEq }} class="form-control" required data-validation-required-message="This field is required"> </div>

                        </div>

                        <div class="form-group">
                            <h5>Nombre <span class="text-danger">*</span></h5>
                            <div class="input-group">

                                <input type="number" name="nombre" value={{ emp.Nombre }} min="3" max="20" class="form-control" required data-validation-required-message="This field is required">

                            </div>
                        </div>



                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="reset" class="btn btn-inverse">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_script %}
    <script src="{{ asset('js/validation.js') }}"></script>
    <script>
        ! function(window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(), $(".skin-square input").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green"
            }), $(".touchspin").TouchSpin(), $(".switchBootstrap").bootstrapSwitch();
        }(window, document, jQuery);
    </script>
{% endblock %}